# Python
__pycache__/
*.py[cod]
*.so
.Python

# envs
venv/
.venv/
.env

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# tooling
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Node / Next.js
node_modules/
.next/
out/
npm-debug.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store

